.ya-light-theme {
    --spacing: 8px;
    --active-color: #42b983;
    --active-text-color: #fff;
    --color: #5c85b1;
    --border-color: #eee;
    --disabled-color: #999;
    --border-radius: 4px;
  }