<template>
  <button
    :class="{
      'base-button': true,
      disabled
    }"
    v-bind="$attrs"
    v-on="$listeners"
  >
    <slot>{{ title }}</slot>
  </button>
</template>

<script>
// @group Buttons
export default {
  name: 'base-button',

  props: {
    title: {
      type: String,
      default: ''
    },
    disabled: {
      type: Boolean,
      default: false
    }
  }
}
</script>

<style scoped>
  .base-button {
    padding: var(--spacing) calc(var(--spacing) * 2);
    border: none;
    border-radius: var(--border-radius);
    font-size: 14px;
    background-color: var(--active-color);
    color: var(--active-text-color);
    user-select: none;
  }

  .disabled {
    background-color: var(--disabled-color);
    pointer-events: none;
  }

  .base-button:active {
    transform: translate(1px,1px);
  }
</style>
