<template>
    <fieldset :class="{
        error,
        filled: focused || value,
        focused,
        suffixed: $slots.suffix,
        prefixed: $slots.prefix
    }">
        <label
            @click="doFocus"
        >{{ label }}</label>
        <slot name="input">
            <input
                class="input"
                v-bind="$attrs"
                :value="value"
                v-on="listeners"
                @focus="ev => focusChanged(true, ev)"
                @blur="ev => focusChanged(false, ev)"
            />
        </slot>
        <div class="prefix">
            <slot name="prefix" />
        </div>
        <div class="suffix">
            <slot name="suffix" />
        </div>
    </fieldset>
</template>

<script>
// @group Fields

export default {
    props: {
        label: {
            type: String,
            default: ''
        },
        value: {
            type: [String, Number, Boolean, Object, Array],
            default: ''
        },
        error: {
            type: Boolean,
            default: false
        }
    },

    computed: {
        listeners () {
            return {
                ...this.$listeners,
                input: ev => { this.$emit('input', ev.target.value) }
            }
        }
    },

    data () {
        return {
            focused: false
        }
    },

    methods: {
        doFocus () {
            const input = this.$el.querySelector('.input')
            if (input && typeof input.focus === 'function') {
                input.focus()
            }
        },
        focusChanged (val, ev) {
            this.focused = val
            this.$emit(this.focused ? 'focus' : 'blur', ev)
        }
    }
}
</script>

<style scoped>
    fieldset {
        height: 24px;
        margin: 16px;
        position: relative;
        border: solid 1px var(--border-color);
        border-radius: var(--border-radius);
        transition: border-color .05s .1s linear;
    }
    label, .input {
        position: absolute;
        top: 0;
        left: 0;
        margin: 8px;
        height: 24px;
    }

    .input {
        right: 0;
        border: none;
        border-radius:  var(--border-radius);
        z-index: 1;
        outline: none;
        font-size: 16px;
    }

    .suffixed .input {
        right: 32px;
    }

    label {
        z-index: 2;
        transition: all .1s linear;
        color: var(--disabled-color);
        user-select: none;
        top: 2px;
    }

    .filled label {
        font-size: 12px;
        height: 14px;
        padding: 0 2px;
        top: -16px;
        background-color: white;
    }

    .focused label {
        color: var(--active-color);
    }

    fieldset.focused {
        border: solid 1px var(--active-color);
    }

    .prefix, .suffix {
        position: absolute;
        height: calc(100% - 14px);
        z-index: 3;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .prefix {
        left: 8px;
    }

    .suffix {
        right: 8px;
    }
</style>