<template>
    <base-field
      v-bind="$attrs"
      v-on="$listeners"
    >
      <span
        slot="suffix"
        class="activator material-icons"
      >keyboard_arrow_down</span>
    </base-field>
</template>

<script>
import BaseField from './BaseField'

export default {
  components: { BaseField }    
}
</script>

<style scoped>
  .activator {
    cursor: pointer;
  }
</style>