<template>
    <base-field
        v-bind="$attrs"
        v-on="$listeners"
        :value="value"
    >
        <template
            slot="input"
        >
            <div class="itemlist">
                <div
                    class="item"
                    v-for="item in items"
                    :key="itemId(item)"
                    @click="toggle(itemId(item))"
                >  
                    <input
                        type="checkbox"
                        :checked="selected[itemId(item)]"
                    />
                    {{ itemTitle(item) }}
                </div>
            </div>
        </template>
    </base-field>
</template>

<script>
import BaseField from './BaseField'

export default {
    components: { BaseField },

    props: {
        items: {
            type: Array,
            default: () => []
        },
        value: {
            type: Array,
            default: () => []
        },
        itemId: {
            type: Function,
            default: item => item.id
        },
        itemTitle: {
            type: Function,
            default: item => item.title
        }
    },

    computed: {
        selected () {
            const dict = {}
            this.value.forEach(id => { dict[id] = true })
            return dict
        }
    },

    methods: {
        toggle (id) {
            let result = [ ...this.value ]
            if (this.value.includes(id)) {
                result = this.value.filter(id_ => id_ !== id)
            } else {
                result.push(id)
            }
            this.$emit('input', result)
        }
    }
}
</script>

<style scoped>
    .item {
        display: inline-flex;
        height: 24px;
        margin: 8px;
        align-items: center;
        cursor: pointer;
        user-select: none;
    }

    .itemlist {
        position: absolute;
        top: 0;
        left: 0;
        width: calc(100% - 16px);
        display: flex;
        align-self: flex-start;
    }
</style>