<template>
    <base-field
        v-bind="$attrs"
        v-on="$listeners"
        type="number"
    />
</template>

<script>
import BaseField from './BaseField'

export default {
    components: { BaseField }    
}
</script>