<template>
    <base-field
        v-bind="$attrs"
        v-on="$listeners"
        ref="baseField"
        @focus="focused = true"
        @blur="focused = false"
        :type="reveal ? 'text' : 'password'"
    >
        <span
            slot="suffix"
            class="revealer material-icons"
            @mousedown="toggleFocus"
        >{{ reveal ? 'visibility_off' : 'visibility' }}</span>
    </base-field>
</template>

<script>
import { timeout } from './helpers'
import BaseField from './BaseField'

export default {
    components: { BaseField },

    data () {
        return {
            focused: false,
            reveal: false
        }
    },

    methods: {
        async toggleFocus () {
            const focused = this.focused
            this.reveal = !this.reveal
            await timeout(0)         
            if (focused) {
                this.$refs.baseField.doFocus()
            }
        }
    }
}
</script>

<style scoped>
    .revealer {
        cursor: pointer;
        user-select: none;
        color: var(--disabled-color);
    }
</style>