<template>
    <base-field
        v-bind="$attrs"
        v-on="$listeners"
        type="text"
    />
</template>

<script>
import BaseField from './BaseField'

// @group Fields
export default {
    components: { BaseField }    
}
</script>