<template>
    <theme-container :class="'ya-' + theme + '-theme'">
        <slot />
    </theme-container>
</template>

<script>
export default {
    props: {
        theme: {
            type: String,
            default: 'light'
        }
    }
}
</script>

<style>
    @import '~material-icons/iconfont/material-icons.css';
    @import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
    @import '../src/themes/light.css';

    theme-container {
        font-family: 'Ubuntu', 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
</style>